@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Gummies of SPLORR!!</PageTitle>
<table class="trs80-table" tabindex="1" @onkeydown="HandleKeyDownAsync" @onkeydown:preventDefault="ShouldPreventDefault" autofocus>
	@foreach (var row in Enumerable.Range(0, CHARACTER_DESTINATION_ROWS))
	{
		<tr>
			@foreach (var column in Enumerable.Range(0, CHARACTER_DESTINATION_COLUMNS))
			{
				<td class="trs80-td" style="background-position: @GetBackgroundPosition(column, row)"></td>
			}
		</tr>
	}
</table>
@code {
	IUIContext context = new UIContext(CHARACTER_DESTINATION_COLUMNS, CHARACTER_DESTINATION_ROWS, FrameBuffer);
	const int CHARACTER_DESTINATION_COLUMNS = 48;
	const int CHARACTER_SOURCE_COLUMNS = 32;
	const int CHARACTER_DESTINATION_ROWS = 18;
	const int CHARACTER_PIXEL_WIDTH = 32;
	const int CHARACTER_PIXEL_HEIGHT = 48;
	static int[] FrameBuffer = new int[CHARACTER_DESTINATION_ROWS * CHARACTER_DESTINATION_COLUMNS];
	private bool ShouldPreventDefault = false;
	string GetBackgroundPosition(int column, int row)
	{
		int character = FrameBuffer[column + row * CHARACTER_DESTINATION_COLUMNS];
		int characterX = -(character % CHARACTER_SOURCE_COLUMNS) * CHARACTER_PIXEL_WIDTH;
		int characterY = -(character / CHARACTER_SOURCE_COLUMNS) * CHARACTER_PIXEL_HEIGHT;
		return $"{characterX}px {characterY}px";
	}
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		context.Refresh();
		await DoEventAsync();
	}
	private async Task DoEventAsync()
	{
		while (context.CurrentEvent != null)
		{
			await JSRuntime.InvokeVoidAsync("doEvent", context.CurrentEvent);
			context.NextEvent();
		}
	}
	readonly IReadOnlyDictionary<string, string> CommandTable = new Dictionary<string, string>()
	{
		["q"] = Command.Left,
		["z"] = Command.Up,
		["w"] = Command.Up,
		["a"] = Command.Left,
		["s"] = Command.Down,
		["d"] = Command.Right,
		["ArrowUp"] = Command.Up,
		["ArrowDown"] = Command.Down,
		["ArrowLeft"] = Command.Left,
		["ArrowRight"] = Command.Right,
		[" "] = Command.Green,
		["Enter"] = Command.Blue,
		["Tab"] = Command.Yellow,
		["Backspace"] = Command.Red
	};
	private async Task HandleKeyDownAsync(KeyboardEventArgs args)
	{
		if (CommandTable.TryGetValue(args.Key, out string? command))
		{
			ShouldPreventDefault = true;
			context!.HandleCommand(command);
			context!.Refresh();
			await DoEventAsync();
		}
		else
		{
			ShouldPreventDefault = false;
		}
	}
}